tas,BNR_AR,Banner Accounts Receivable,arsys,TURVERS,
adv,BNR_ADV,Banner Advancement,alumni,AURVERS,
bwa,BNR_ADVSS,Banner Advancement Self-Service,aluweb,BWAVERS,
lcb,BNR_LCB,Luminis Channels for Banner,channels,LCBVERS,
ext,BNR_DMS,Banner Document Management System,bdms,EURVERS,
bwp,BNR_EMPSS,Banner Employee Self-Service,payweb,BWPVERS,
bwl,BNR_FACSS,Banner Faculty and Advisor Self-Service,facweb,BWLVERS,
fin,BNR_FIN,Banner Finance,finance,FURVERS,
bwf,BNR_FINSS,Banner Finance Self-Service,finweb,BWFVERS,
res,BNR_FINAID,Banner Financial Aid,finaid,RURVERS,
bwr,BNR_FINAIDSS,Banner Financial Aid Self-Service,resweb,BWRVERS,
sf,BNR_FLXREG,Banner Flexible Registration,flexreg,SFURVERS,
gen,BNR_GEN,Banner General,general,GURVERS,
 ,BXE_EVMGT,Banner General Event Management,generaleventmanagement,GURWADB,EventManagement
 ,BXE_EVMGTSS,Banner General Event Management Self Service,eventmanagementselfservice,GURWADB,EventManagementSelfService
pay,BNR_HRPAY,Banner HR and Payroll,payroll,PURVERS,
pos,BNR_POSCTL,Banner Position Control,posnctl,NURVERS,
stu,BNR_STU,Banner Student,student,SURVERS,
attr,BXE_FCATSS,Banner Faculty Attendance Tracking Self Service,facultyattendancetrackingssb,GURWADB,FacultyAttendanceTrackingSsb
 ,BXE_FCGE,Banner Faculty Grade Entry,studentfacultygradeentry,GURWADB,FacultyGradeEntry
 ,BXE_STAT,Banner Student Attendance Tracking,studentattendancetracking,GURWADB,StudentAttendanceTracking
 ,BXE_STATSS,Banner Student Attendance Tracking Self Service,studentattendancetrackingssb,GURWADB,StudentAttendanceTrackingSsb
schd,BXE_STCS,Banner Student Class Schedule,studentclassschedule,GURWADB,StudentClassSchedule
cat,BXE_STCC,Banner Student Course Catalog,studentcatalogschedule,GURWADB,StudentCourseCatalog
 ,BXE_HELP,Banner 9 Online Help,banneronlinehelp,GURWADB,Banner Online Help
int,BNR_INT,Integration Services,intcomp,ICVERS,
bws,BNR_STUSS,Banner Student Self-Service,stuweb,BWSVERS,
ft,BNR_TEM,Banner Travel and Expense Management,travel,FTURVERS,
vr,BNR_VR,Banner Voice Response Common,vres,VRSVERS,
bwg,BNR_WEBGEN,Banner Web General,genweb,BWGVERS,
twb,BNR_WEBTLR,Banner Web Tailor,wtlweb,TWGRVERS,
bsa,BNR_BSA,Banner Student Aid,stuaid,GVRVERS,
bmui,BMUI,Banner Multi Upgrade Installer, , ,
osd,OSD,Internal application updates, , ,
esm,ESM,ESM Admin updates, , ,
